

  <div class="jumbotron jumbotron-fluid" id="jumbotron-users">
    <h1 class="display-4">boost! your life</h1>

    <%if user_signed_in?%>
    <p class="lead">Welcome back, <%=current_user.name%>! Do you want to <%=link_to 'log a daily goal?', current_user%> </p>
    <%else%>
    <p class="lead">Ready to commit to your goals and support your friends? <%=link_to 'Sign up today!', new_user_registration_path%></p>
    <%end%>
    <p class="lead">Take a look at the <%=link_to 'goal dashboard!', goals_path%></p>
    <hr class="my-4">
    <p>A friendly community of <%=@users.count %> users, established 2018</p>
  </div>





<h1>Recently active users</h1>
<table>

<% @latest_users.each do |user| %>
<th><div class="card-group">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= link_to user.name, user%></h3>
      <% if !user.goals.empty? %>
        <p class="card-text"><small class="text-muted">Goal: <%= link_to user.goals.last.name, user.goals.last %></small></p>
        <p class="card-text"><small class="text-muted"> <%= user.goals.last.overall_goal%></small></p>
      <p class="card-text"><small class="text-muted"><%=user.name%> has met <%= user.daily_goal_mets.count%> daily goals!</small></p>
      <%end%>
    </div>
  </div></th>
 <% end %>

</table>
