<div class="container">
<%if current_user == @user%>
<h1>This is your profile</h1>
<h2><%=@user.last_sign_in_at%></h2>
<%else%>
  <h2><%=@user.name %>'s profile</h2>
<h1><%=@user.last_sign_in_at%></h1>
<%end%>


<%if @user.goals.empty? %>
<h3><%= @user.name %> doesn't have any live goals</h3>
<% elsif current_user == @user && !@user.goals.empty?%>
  <h1>Your goals</h1>
  <%else%>
    <h1><%=@user.name %> wants to:</h1>
  <%end%>


<% @goals.each do |goal| %>
<h2><%= goal.name %></h2>
 <h3><%= goal.percentage_of_daily_goals_met.to_i %>% complete </h3>
 <div class="progress" width="50%">
<div class="progress-bar progress-bar-info w-75" role="progressbar"
 aria-valuenow="<%= goal.percentage_of_daily_goals_met %>" aria-valuemin="0" aria-valuemax="100"   style="width: <%= "#{goal.percentage_of_daily_goals_met}%" %>">
</div>
</div>
 <% end %>


<h2><%= @user.name%>'s Progress</h2>
 <table>
  <tr>
    <td>Active goals</td>
    <td><%= @goals.count %></td>
  </tr>
  <tr>
    <td>Goals achieved</td>
    <td><%= @user.goals_achieved.count %>
  </tr>
  <tr>
    <td>Goals due soon</td>
    <td><%= @goals.goals_due_soon.count %></td>
  </tr>
</table>
<br>

<h2>Community</h2>
 <table>
  <tr>
    <td>Total boosts given</td>
    <td><%= @user.num_boosts_given %></td>
  </tr>
  <tr>
    <td>Total boosts recieved</td>
    <td><%= @user.num_boosts_received %></td>
  </tr>
  <tr>
    <td>Total comments recieved</td>
    <td><%= @user.num_comments_received %></td>
  </tr>
  <tr>
    <td>Total comments recieved</td>
    <td><%= @user.num_comments_received %></td>
  </tr>
</table>

<%= link_to 'Edit profile', "/users/#{@user.id}/edit"%>

<%= link_to 'Back to homepage', '/' %>
</div>
