
<br>
  <%= form_for @goal do |f| %>

  <div id="flash_new_goal">
    <% if @goal.errors.any? %>
      <ul>
         <% @goal.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
      </ul>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :name, "Goal name" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label "User" %>
    <%= f.text_field :user, value: current_user.name, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, value: @goal.start_date.strftime("%Y/%m/%d"), type: :date, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, type: :date, value: @goal.due_date.strftime("%d/%m/%Y"), class: "form-control", required: true  %>
  </div>

  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :overall_goal %>
    <%= f.text_field :overall_goal, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :daily_goal %>
    <%= f.text_field :daily_goal, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description (optional)" %>
    <%= f.text_area :description, cols: 40, class: "form-control"  %>
  </div>

    <%= f.submit %>

  <% end %>
