
<!-- The title section, including awards for current and record streak if held by the goal -->

  <div class='centered-text'>
    <h1><%= @goal.name %>

    <% if Goal.record_streak == @goal %>
      <i class="fa fa-trophy" title="All time record streak!" style="font-size: 25px;"></i>
    <% end %>

    <% if Goal.longest_current_streak == @goal %>
      <i class="fa fa-medal" title="Longest current streak!" style="font-size: 25px;"></i>
    <% end %>
    </h1>
<!-- Display links to edit goal if the owner is viewing it -->

    <% if current_user == @goal.user %>
      <%= link_to "(log progress)", calendar_path %>&nbsp;&mdash;&nbsp;
      <%= link_to "(edit goal)", edit_goal_path %>&nbsp;&mdash;&nbsp;
      <%= link_to "(delete goal)", confirm_delete_path %>
    <% end %>
    <br>
  </div>


<!-- Information on the goal -->

  <table id='show-goal'>
    <tr>
      <td>User</td>
      <td><%= link_to @goal.user_name, @goal.user %></td>
    </tr>
    <tr>
      <td>Overall goal</td>
      <td><%= @goal.overall_goal %>
    </tr>
    <tr>
      <td>Due</td>
      <td><%= @goal.due_date.to_date %></td>
    </tr>
    <tr>
      <td>Daily goal</td>
      <td><%= @goal.daily_goal %></td>
    </tr>
    <tr>
      <td>Current streak</td>
      <td><%= @goal.daily_goal_streak %></td>
    </tr>
    <tr>
      <td>Record streak</td>
      <td><%= @goal.longest_daily_goal_streak %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><%= @goal.category.name %></td>
    </tr>
    <% if !@goal.description.empty? %>
      <tr>
        <td colspan="2"><%= @goal.description %></td>
      </tr>
    <% end %>
  </table>
  <br>

<!-- Show any boosts received -->
  <% if !@goal.boosts.empty? %>
    <div class="comment-box">
      <% @goal.boosts.each do |boost| %>
        <i class='<%= boost.icon_selector %>' title=' <%=boost.user.name %>' style="font-size: 20px;"></i>
      <% end %>
    </div><br>
  <% end %>

<!-- Show any comments received -->
  <div class="comment-box">
    <% @goal.comments.each do |comment| %>
      <p>[<%= comment.created_at.to_date %>] <b><%= link_to comment.user.name, comment.user %> said:</b> <%= comment.content %></p>
    <% end %>
  </div>
  <br>

<!-- Allow a logged-in user to add boosts or comments -->
  <% if user_signed_in? %>
    <div class="new-comment-box">

      <%= form_for @boost do |f| %>
        <%= f.hidden_field :goal_id, value: @goal.id %>
        <%= f.hidden_field :boost_type, value: "thumbs" %>
        <button type="submit" style="font-size:20px; width:60px;">
        <i class="far fa-thumbs-up" title="thumbs"></i></button>
      <% end %>

      <%= form_for @boost do |f| %>
        <%= f.hidden_field :goal_id, value: @goal.id %>
        <%= f.hidden_field :boost_type, value: "heart" %>
        <button type="submit" class="boost-btn">
        <i class="fa fa-heart" title="heart"></i></button>
      <% end %>

      <%= form_for @boost do |f| %>
        <%= f.hidden_field :goal_id, value: @goal.id %>
        <%= f.hidden_field :boost_type, value: "star" %>
        <button type="submit" class="boost-btn">
        <i class="fa fa-star" title="star"></i></button>
      <% end %>
    </div>
    <br>

    <div class="new-comment-box">
      <%= form_for @comment do |f| %>
        <%= f.label :content, "Comment: " %>
        <%= f.text_field :content, required: true, size: 45 %>
        <%= f.hidden_field :goal_id, value: @goal.id %>
        <%= f.submit "Add Comment" %>
      <% end %>
    </div>
  <% end %>
<br><br>
